body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    height: 100%;
    padding: 0px;
    margin: 0px;
}


.header ,
.footer {
    display: flex;
    height: 36px;
    font-size: 12px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
}

.footer {
    height: 48px;
    color: white;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0px;
    gap: 18px;
}

/*Removed li section */

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

#logo {
    flex: none;
    height: 32px;
    width: 32px;
}


.signup {
    background-color: #1F2937;
    display: flex;
    padding: 32px;
    justify-content: center;
    flex: 1 1 auto;
    gap: 50px;
}

.img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img img{
    width: 500px;
    height: 250px;
}

.hook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    font-size: 18px;
    color: #E5E7EB;
    gap: 20px;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.info {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.info .title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
}

.button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    text-decoration-line: none;
    border-color: white;
    border-style: solid;
    padding: 4px 8px;
    width: 120px;
    cursor: pointer;
}


.hook .button {
    align-self: self-start;
    border-color: #3882F6;
}

.information {
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.subinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.roundedbox {
    display: flex;
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 9px;
    background: white;
    align-items: center;
    justify-content: center;
}

.roundedbox img {
    object-fit: fill;
    overflow: hidden;
    width: 85%;
    height: 85%;
}

.subinfo .words {
    width: 120px;
    flex: none;
    text-align: center;
}

.quote {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    justify-content: center;
    gap: 12px;
}

.quote .words {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

.quote .speaker {
    font-weight: 700;
    font-size: 18px;
    align-items: end;
    margin-left: auto; 
    margin-right: 650px;
    margin-top: 0px;
}

.ad {
    display: flex;
    flex: 1 1 auto; 
}

.ad {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ad .container {
    background-color: #3882F6;
    width: 60%;
    height: 180px;
    border-radius: 30px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
}